.dtabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 80px;
  background: #fff;
  border-bottom: 1px solid #f4f4f4;
}

.dtabs__tab {
  position: relative;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  white-space: nowrap;
}

.dtabs__tab--active {
  font-weight: 500;
  color: #3d3d3d;
}

.dtabs__tab--active::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 76px;
  height: 3px;
  background: #362725;
  border-radius: 30px 12px 0 0;
}
